/*banner*/
#banner .banner--wrapped{
    height:350px;
    background: url("../image/datareportbg.png") no-repeat center;
}
#banner .banner{
    width:1200px;
    margin:0 auto;
    font-size:14px;
    color:#fff;
    position:relative;
    line-height:1;
}
#banner  .iconfont,#banner  .p_type{
    color:#f60;

}
#banner .p_title{
    font-size:24px;
    padding:38px 0 23px;
    margin:0;
}
#banner .content_type{
    margin:0;
    line-height:1.7;
}
#banner .p_content{
    line-height:1.7;
    margin:0;
}
#banner  .iconfont{
    font-size:24px;
}
#banner .banner_card--wrapped{
    width:180px;
    height:300px;
    background: #cccdcf;
    opacity:0.8;
    position:absolute;
    right:0;
    top:0;
    text-align:center;
}
#banner .card_img{

    margin:7px auto;
}
#banner .card_title{
    color:#3f3f3f;
    font-size:23px;
    line-height:1.2;
}
#banner .card_tip{
    font-size:16px;
}
#banner .card_tip .number{
    font-size:26px;
}
#banner .number--re{
    position:relative;
    top:-2px;
}
#banner .card_tip .lineheight--re{
    display:inline-block;
    line-height:26px;
}
#banner .tip_p--number{
    margin:16px auto 4px;
    color:#3f3f3f;
}
#banner .tip_p{
    margin:0 auto 20px;
    color:#f60;
}
#banner .card_button{
    background: #3f3f3f;
    line-height:35px;
    color:#fff;
}
#banner .card_button:hover{
    background: #f60;
}
/*banner*/
.banner--wrapped{
    height:350px;
    background: url("../image/datareportbg.png") no-repeat;
}
#banner .banner{
    width:1200px;
    margin:80px auto 0;
    font-size:14px;
    color:#fff;
    position:relative;
    line-height:1;
}
#banner  .iconfont,#banner  .p_type{
    color:#f60;

}
#banner .p_title{
    font-size:24px;
    padding:38px 0 23px;
    margin:0;
}
#banner .content_type{
    margin:0;
    line-height:1.7;
}
#banner .p_content{
    line-height:1.7;
    margin:0;
}
#banner  .iconfont{
    font-size:24px;
}
#banner .banner_card--wrapped{
    width:180px;
    height:300px;
    background: #cccdcf;
    opacity:0.8;
    position:absolute;
    right:0;
    top:0;
    text-align:center;
}
#banner .card_img{

    margin:7px auto;
}
#banner .card_title{
    color:#3f3f3f;
    font-size:23px;
    line-height:1.2;
    font-weight: bold;
}
#banner .card_tip{
    font-size:16px;
}
#banner .card_tip .number{
    font-size:26px;
}
#banner .number--re{
    position:relative;
    top:-2px;
}
#banner .card_tip .lineheight--re{
    display:inline-block;
    line-height:26px;
}
#banner .tip_p--number{
    margin:16px auto 4px;
    color:#3f3f3f;
    font-weight: bold;
}
#banner .tip_p{
    margin:0 auto 20px;
    color:#f60;
}
#banner .card_button{
    background: #f60;
    line-height: 35px;
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 62px;
    text-align: center;
    width: 180px;
}
#banner .card_button:hover{
    background: #ff761b;
}
/*content*/
.wrap{
    line-height:1;
    width:1200px;
    margin:0 auto;
}
.division{
    color:#f60;
    font-size:22px;
    font-weight:bold;
    border-bottom:3px solid #f60;
    padding:40px 0 10px;

}
.hysj{
    font-size:14px;
    line-height:1;
    color:#333;
}
.hysj_tit{
    line-height:30px;
    padding:20px 0 10px;

}
.hysj_tit span{
    padding:0 13px;
    margin-right:15px;
    display:inline-block;
    line-height:30px;
    font-size:16px;
    vertical-align:middle;

}
.hysj_tit>span:nth-child(1){
    padding:0;
}
.hysj_tit a span{
    border:1px solid #ccc;
    text-align:center;
}
.hysj_tit a.cur span{
    background: #f60;
    color:#fff;
    border:1px solid #f60;
}
.sx_con a,.gjsj_con a{
    margin-right:5px;
    font-size:18px;
    color:#333;
}
.sx_con a.cur .monthoryear{
    color:#f60;
}
form label{
    font-weight:normal;
    margin:0;
}
form .cur.dft{
    color:#f60;
}
form .am-icon-caret-down:before {
    content: "\f107";
    color:#666;
}
.sx_con form,.gjsj_con form{
    padding:0 0 20px 12px;
}
.sx_con form p{
    margin:0;
    line-height:38px;
    border-bottom:1px dashed #ccc;
}
.form_sales .cur.dft{
    font-size:14px;
}
.gjsj_con form p{
    margin:0;
    line-height:38px;
    border-bottom:1px dashed #ccc;
}
.gjsj_con form p.form_date,.sx_con form p.form_date{
    border-bottom:1px solid #ccc;
}
form .am-selected-status{
    font-size:12px;
    color:#005aa0;
    text-align:center;
    line-height:16.8px;
}
form .form_sales a{
    margin-left:8px;
}
form .am-selected .am-selected-btn{
    padding:3.4px 1em;
}
.form_type label{
    margin-right:50px
}
.form_type label .am-selected{
    margin-left:15px
}
.form_time label .am-selected{
    margin: 0 5px;
}
.form_time label:nth-child(1) .am-selected{
    margin: 0 5px 0 15px;
}
.canvas_table .table_button {
    font-size: 14px;
    padding: 6px 27px;
    background: #f60;
    color: #fff;
}

/*table*/
#table{
    width:1200px;
    margin:0 auto;
}
#table .division{
    color:#f60;
    font-size:22px;
    font-weight:bold;
    border-bottom:3px solid #f60;
    padding:55px 0 5px;
    margin-bottom:20px;
}
#table .table--type{
    padding:0 12px;
    margin-bottom:20px;
}
#table .table--type label{
    margin-right:65px;
}
#table .table--type .am-selected{
    margin-left:4px;
}
#table table{
    font-size:14px;
    color:#666;
    text-align:center;
}
#table .table--bg{
    background: #f1f1f1;
}
#table tr>td:nth-child(1),#table tr>td:nth-child(3){
    background: #f1f1f1;
    min-width:160px;
    padding:14.5px 0.5rem;
}

#table tr>td:nth-child(2),#table tr>td:nth-child(4){
    color:#005aa0;
    min-width:440px;
    padding:14.5px 0.5rem;
}
#table form label{
    font-weight:normal;
    margin:0;
    font-size:14px;
}
#table .table--type .am-btn{
    font-size:14px;
    padding:6px 27px;
    background: #f60;
    color:#fff;
}
#table form .am-selected-status{
    font-size:12px;
    width:110px;
    color:#005aa0;
    text-align:center;
    line-height:16.8px;
}
#table form .am-selected .am-selected-btn{
    padding:3.4px 1em;
}
#table form p{
    line-height:50px;
    background: #f1f1f1;
}
#table form .am-selected-btn.am-btn-default{
    background: #fff;
}
#table .am-icon-caret-down:before {
    content: "\f107";
    color:#666;
}

.gjsj { position:relative; margin-top:-20px;}
.gjsj .err {position:absolute; z-index:3; top:320px; width:50%; left:26%; border:1px #f60 solid; background-color:#FFFBF8; font-size:14px; text-align:center; padding:40px 0; line-height:30px;}
.gjsj .err_bg {position:absolute; z-index:2; top:2px; width:100%; left:0; height:680px;  }
.gjsj .err1 {position:absolute; z-index:3; top:320px; width:50%; left:26%; border:1px #f60 solid; background-color:#FFFBF8; font-size:14px; text-align:center; padding:40px 0; line-height:30px;}
.gjsj .err_bg1 {position:absolute; z-index:2; top:100px; width:100%; left:0; height:740px; }
.gjsj .err a{color:#f60;}


#collapse-head{
    position:fixed;
    top: 123px;
    right:26px;
}
#collapse-head .footer_btn .img--wrapper{
    width:40px;
    height:40px
}
#collapse-head .footer_btn{
    width:40px;
    height:40px;
    margin-top:2px;
    position:relative;
    text-align:center;
}
#collapse-head .footer_span{
    color:#fff;
    font-size:16px;
    line-height:40px;
    position:absolute;
    right:-180px;
    text-align:center;
    /*   transition:right 0.4s ease-in-out; */
    border-radius:30px 0 0 30px;
}
#collapse-head  .footer_btn.btn1 .content1{
    width:120px;
    background: #F60;
}
#collapse-head  .footer_btn.btn2 .content2{
    width:120px;
    background: #40dc9f;
}
#collapse-head  .footer_btn.btn3 .content3{
    width:120px;
    background: #56a8fc;
}
#collapse-head  .footer_btn.btn1 .img--wrapper{
    background: #eee url("../image/shujus.png") no-repeat center;

}
#collapse-head  .footer_btn.btn2 .img--wrapper{
    background: #eee url("../image/chanliangs.png") no-repeat center;

}
#collapse-head  .footer_btn.btn3 .img--wrapper{
    background: #eee url("../image/peitaos.png") no-repeat center;

}
#collapse-head  .active .footer_btn.btn1 .img--wrapper,
#collapse-head .footer_btn.btn1:hover .img--wrapper{
    background: #f60 url("../image/shujus2.png") no-repeat center;
}
#collapse-head  .active .footer_btn.btn2 .img--wrapper,
#collapse-head .footer_btn.btn2:hover .img--wrapper{
    background: #40dc9f url("../image/chanliangs2.png") no-repeat center;
}
#collapse-head  .active .footer_btn.btn3 .img--wrapper,
#collapse-head .footer_btn.btn3:hover .img--wrapper{
    background: #56a8fc url("../image/peitaos2.png") no-repeat center;
}
#collapse-head  .footer_btn:hover .footer_span{
    right:40px;
}

/*弹窗*/
.am-modal#doc-modal-14 .am-modal-hd .am-close {
    position: absolute;
    top: 10px;
    right: 10px;
}
.am-modal#doc-modal-14 .am-modal-dialog{
    background: #fff;
    padding:40px 0;
}
.am-modal#doc-modal-14 .am-alert{
    background: #fff;
    color:#444;
    font-size:22px;
    padding:0 0 20px;
    margin:0;
    border:1px solid #fff;

}
.am-modal#doc-modal-14 .am-modal-dialog p{
    text-align:center;
}
.am-modal#doc-modal-14 .am-modal-dialog textarea{
    font-size:14px;
    color:#b2b2b2;
    padding:10px;
    margin-bottom:20px;
}
.am-modal#doc-modal-14 .am-form-group{
    margin:0;
}
.am-modal .am-modal-dialog #yourcall,.am-modal-dialog #yourcompany,.am-modal-dialog #yourname{
    width:100%;
    font-size:14px;
    color:#b2b2b2;
    padding:10px;
    margin-bottom:15px;
}
.am-modal .am-modal-dialog #yourcall2,.am-modal-dialog #yourcompany2,.am-modal-dialog #yourname2{
    width:100%;
    font-size:14px;
    color:#b2b2b2;
    padding:10px;
    margin-bottom:15px;
}
.am-modal#doc-modal-14 .tijiao{
    line-height:1;
    background: #f1f1f1;
}
.am-modal#doc-modal-14 .tijiao .tip{
    font-size:14px;
    color:#f60;
    line-height:48px;

}
.am-modal#doc-modal-14 .tijiao .am-fr{
    font-size:16px;
}
.am-modal#doc-modal-14 .tijiao--button{
    width:146px;
    line-height:29px;
    background: #f60;
    color:#fff;
    border:none;
    margin:34px auto 45px;
}
.am-modal#doc-modal-14 .tijiao--cancel{
    margin:16px 30.6px;
    color:#f60;
}
.am-modal#doc-modal-14 .dialog_input{
    padding:0 9.58rem;
}
.am-modal#doc-modal-14 .am-container--re{
    padding:0 9.58rem;
}
.am-modal#doc-modal-14 .am-form-icon{
    color:#f60;
}
.am-modal#doc-modal-14 .dialog--content .am-field-valid{
    border-color:#ccc!important;
}
.am-modal#doc-modal-14 .am-form input[type=text],.am-form-field{
    border:none;
    border-bottom:1px solid #f60;
}
.am-modal#doc-modal-14 .am-form-icon .am-form-field {
    padding-left: 45px!important;
}
.am-modal .am-form-icon [class*=am-icon-] {
    left: 1em;
}
.am-modal .am-field-error, .am-form-error .am-form-field,.am-form-success .am-form-field {
    -webkit-box-shadow:none;
    box-shadow:none;
}
.am-modal .am-field-error:focus,.am-modal .am-form-error .am-form-field:focus ,.am-modal .am-form input[type=text]:focus{
    background-color: #fefffe;
    border-color: #cf2d27;
    -webkit-box-shadow:none!important;
    box-shadow:none!important;
}
.am-form-success .am-checkbox, .am-form-success .am-checkbox-inline, .am-form-success .am-form-help, .am-form-success .am-form-label, .am-form-success .am-radio, .am-form-success .am-radio-inline, .am-form-success label{
    color:#333;
}
.am-modal .hope--select {
    text-align: left;
}
.am-modal label {
    font-size:14px;
    color:#333;
    font-weight:normal;
    margin:0 29px 0 10px;
}
.am-modal label span{
    position:relative;
    top:-2px;
}
.am-modal .hope-head{
    font-size:16px;
    text-align:left;
    padding:0;
}
.am-modal .selectservers{
    margin-top:36px;
}
@media(max-width:640px){
    .am-modal .am-modal-dialog{
        width:90%!important;
    }
    .am-modal .dialog_input{
        padding:0 1rem;
    }
    .am-modal .am-container--re{
        padding:0 1rem;
    }

}

/*弹窗*/
#modal111 .am-modal-dialog {
    background: #fff;
}
#modal111 .table--type {
    padding: 0 12px;
}
#modal111 .table--type label {
    margin-right: 70px;
}
#modal111 .table--type .am-selected {
    margin-left: 4px;
}
#modal111 table {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin:0;
}
#modal111 tbody tr:nth-child(even) {
    background: #f1f1f1;
}
#modal111 tr>td{
    color:#999;
}
#modal111 tr>td:nth-child(1),
#modal111 tr>td:nth-child(2) {
    color:#555;
}
#modal111 .am-nav-tabs {
    border-bottom: none;
    width:700px;
    margin:0 auto;
    color: #e0e0e0;
}
#modal111 .am-table>thead{
    color:#333;
    background: #e5e5e5;
}
#modal111 .am-table>thead:first-child>tr:first-child>th {
    font-weight:normal;
    text-align:center;
}
#modal111 .am-nav-tabs>li.am-active>a, .am-nav-tabs>li.am-active>a:focus, .am-nav-tabs>li.am-active>a:hover {
    color: #f60;
    background-color: #fff;
    border: none;
    cursor: default;
}
#modal111 strong{
    display:block;
    width:300px;
    font-size:22px;
    margin:0 auto;
    padding-top:33px;
}
#modal111 .am-tabs-bd .am-tab-panel{
    padding:0;
}
#modal111 .am-nav-tabs>li {
    display: inline-block;
    float: none;
}
#modal111 .am-tabs-bd{
    height:441px;
    overflow-y: scroll;
}

#modal222 .am-modal-dialog {
    background: #fff;
}
#modal222 table {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin: 0;
}
#modal222 tbody tr:nth-child(even) {
    background: #f1f1f1;
}
#modal222 tr>td {
    color: #999;
}
#modal222 tr>td:nth-child(1),
#modal222 tr>td:nth-child(2) {
    color: #555;
}
#modal222 .am-selected-list {
    font-size: 22px;
    text-align:center;
}
#modal222 .am-selected-list li {
    padding: 7.5px 10px;
}
#modal222 .am-nav-tabs {
    border-bottom: none;
    margin: 0 auto;
    color: #e0e0e0;
    text-align: center;
}
#modal222 .am-nav-tabs>li>a {
    margin-right: 0;
    color: #444;
}
#modal222 .am-table>thead {
    color: #333;
    background: #e5e5e5;
}
#modal222 .am-table>thead:first-child>tr:first-child>th {
    font-weight: normal;
    text-align: center;
}
#modal222 .am-nav-tabs>li.am-active>a,
#modal222 .am-nav-tabs>li.am-active>a:focus,
#modal222 .am-nav-tabs>li.am-active>a:hover {
    color: #f60;
    background-color: #fff;
    border: none;
    cursor: default;
}
#modal222 .am-tabs-bd .am-tab-panel {
    padding: 0;
}
#modal222 .select--wrapped {
    width: 410px;
    margin: 0 auto;
}
#modal222 .am-selected-list li:hover {
    color: #f60;
}
#modal222 .am-btn-default {
    border: none;
    font-weight:bold;
    font-size:22px;
}
#modal222 .am-selected-status {
    text-align: center;
}
#modal222 .am-nav-tabs>li {
    display: inline-block;
    float: none;
    margin-bottom: -1px;
}
#modal222 .am-icon-caret-down:before {
    content: "\f107";
}
#modal222 .am-tabs-bd{
    height:447px;
    overflow-y: scroll;
}

#mychart{
    overflow-y:scroll!important;
    overflow-x:hidden!important;
}